/* Variables for common styles */
$text-dark: #ba4e2a;
$text-light: #f4f4f4;
$main-color-dark: #5d647e;
$primary-color: #c0729b; 
$secondary-color: #8bc34a; 

$color-primario: #ff9900;
$color-fondo: #f4f4f4;
$color-texto: #333;

$font-secondary: 'Arial', sans-serif;

/* Reset or normalize styles */
#postAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 10rem;
  background-color: $text-light;

  img {
    margin: 2rem;
    display: block;
    max-width: 100%;
    height: auto;
  }
}
#aboutContent {
  max-width: 800px;
  margin: 0 auto;

  .headings {
    text-align: center;
    margin-bottom: 2rem;

    .title {
      .text-title {
        color: $text-dark;
        font-size: 2.5rem; // Adjust as needed
        letter-spacing: 2px;
      }
    }
  }

  .content {
    color: $text-dark;
    font-size: 1rem;
    line-height: 1.6;
    font-family: $font-secondary;
    padding: 1rem;
    background: rgba($primary-color, 0.1);
    border-radius: 10px;

    p {
      text-align: justify;
      margin-bottom: 1.2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #post {
    flex-direction: column;
    text-align: center;
  }

  img {
    margin: 2rem auto;
  }

  #aboutContent {
    .headings {
      .title {
        .text-title {
          font-size: 2rem;
        }
      }
    }

    .content {
      font-size: 0.9rem;
    }
  }
}



/* Fuentes y colores */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
#header {
  background-color: #2a2a2a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 1.8rem;
  font-weight: 700;
  color: $text-dark;
  text-decoration: none;
}

.toggle-button {
  display: none;
  font-size: 1.5rem;
  color: $text-dark;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #e0e0e0;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1rem;
}

.nav-link:hover {
  color: $text-dark;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box .nav-link {
  padding: 0;
}

.fas, .fab {
  font-size: 1.2rem;
}

.collapse {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  .collapse {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: $text-light;
  }

  .collapse.show {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-link {
    text-align: center;
    padding: 10px;
    border-top: 1px solid $primary-color;
  }

  .search-box {
    justify-content: center;
    width: 100%;
    border-top: 1px solid $primary-color;
  }
}


// ESTILOS PAGINA BUSCADOR ARTICULOS

#pagArticulos {
    background-color: $color-fondo;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    
    // Estilos para el título
    .title {
      margin-bottom: 30px;
      
      h2 {
        color: $color-primario;
        font-weight: bold;
      }
    }
    
    // Estilos para cada artículo
    .articulo-buscador {
      margin-bottom: 40px;
      
      img {
        width: 25vw;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      // Estilos para el título del artículo
      .titulo-buscador {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        color: $color-texto;

        a {
          color: $color-texto;
          text-decoration: none;
          
          &:hover {
            color: $secondary-color;
            text-decoration: underline;
          }
        }
      }
      
      // Estilos para el párrafo de descripción
      p {
        color: #666;
      }
    }
  }

//   FOOTER 

// Estilos del footer
#footer {
  background-color: $color-texto;
  color: $text-dark;
  padding: 2.5rem 2rem;
  
.fas{
  color: $text-dark;
}

  a{
    color: $text-dark;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .col-3 {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 0px;

        @media (max-width: 768px) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }

        .footer-title {
          padding-left: 2rem;
          font-size: 24px;
          margin-bottom: 20px;
        }

        .secondary-title {
          font-size: 1rem;
        }

        .tags {
          margin-top: 20px;

          .nav-link {
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 20px;
            color: $text-dark;
          }
          .nav-link:hover {
            background-color: $text-dark;
            color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            transform: scale(1.05); 
          }
        }

        .social {
          .nav-link {
            background-color: $text-dark;
            color: $color-texto;
            margin-right: 10px;
            margin-bottom: 10px;

            &:hover {
              background-color: darken($color-texto, 10%);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
              transform: scale(1.1); 
            }
          }
        }
      }
    }
  }

  .copyrights {
    margin-top: 40px;

    p {
      font-size: 18px;
    }
  }
}

